@import "tailwindcss";

/* --- CUSTOM SCROLLBAR (Biar Gak Rusuh) --- */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #111827; /* Gray-900 (Gelap) */
}

::-webkit-scrollbar-thumb {
  background: #374151; /* Gray-700 */
  border-radius: 5px;
  border: 2px solid #111827; /* Padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #4B5563; /* Gray-600 pas di-hover */
}

/* Hapus Scrollbar Horizontal yg gak perlu */
body {
  overflow-x: hidden; 
}
/* ... css scrollbar sebelumnya ... */

/* ILANGIN SPINNER DI INPUT NUMBER */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

/* CUSTOM DATE PICKER ICON (Biar Kalender Putih) */
::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}